$primary-color: #FFF;
$primary-text-color: #FFF;


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400

body {
    background-color: $primary-color;
    color: #333;
    font-family: "Space Grotesk", sans-serif;
}

img {
    width: 250px;
}